audit/automatisation-make-blueprints/Activité - Création opportunité.blueprint.json
{
    "name": "Activité - Création opportunité",
    "flow": [
        {
            "id": 61,
            "module": "lemlist:Activities",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 3158336
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Nouvelle activité"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:lemlist2",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "execution",
                "variables": [
                    {
                        "name": "nom",
                        "value": "{{trim(upper(61.lastName))}}"
                    },
                    {
                        "name": "prenom",
                        "value": "{{trim(capitalize(61.firstName))}}"
                    },
                    {
                        "name": "email",
                        "value": "{{trim(61.email)}}"
                    },
                    {
                        "name": "phone",
                        "value": "{{61.leadPhone}}"
                    },
                    {
                        "name": "company",
                        "value": "{{trim(61.companyName)}}"
                    },
                    {
                        "name": "source",
                        "value": "57749"
                    },
                    {
                        "name": "score_formulaire",
                        "value": ""
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600,
                    "name": "Prépare nos variables"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One execution"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "nom",
                        "type": "any",
                        "label": "nom"
                    },
                    {
                        "name": "prenom",
                        "type": "any",
                        "label": "prenom"
                    },
                    {
                        "name": "email",
                        "type": "any",
                        "label": "email"
                    },
                    {
                        "name": "phone",
                        "type": "any",
                        "label": "phone"
                    },
                    {
                        "name": "company",
                        "type": "any",
                        "label": "company"
                    },
                    {
                        "name": "source",
                        "type": "any",
                        "label": "source"
                    },
                    {
                        "name": "score_formulaire",
                        "type": "any",
                        "label": "score_formulaire"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 19,
            "module": "sellsy:makeApiCall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8601308
            },
            "mapper": {
                "url": "/v2/contacts/search?embed[]=smart_tags&embed[]=cf.250644",
                "body": "{\n    \"filters\":{\n        \"email\":\"{{9.email}}\"\n    }\n}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 600,
                    "name": "Recherche avec email"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sellsy2"
                            },
                            "label": "Selssy RA (ANTOINE BERNARD)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sellsy2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 34,
                            "module": "sellsy:makeApiCall",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8601308
                            },
                            "filter": {
                                "name": "Contact connu",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{19.body.data[].id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "/v2/contacts/58326720/companies",
                                "method": "GET",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150,
                                    "name": "Recherche la société liée"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "sellsy2"
                                            },
                                            "label": "Selssy RA (ANTOINE BERNARD)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:sellsy2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 62,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 53,
                                            "module": "util:SetVariables",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "Société retrouvée",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{34.body.data[].id}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "scope": "execution",
                                                "variables": [
                                                    {
                                                        "name": "contact_id",
                                                        "value": "{{19.body.data[].id}}"
                                                    },
                                                    {
                                                        "name": "third_id",
                                                        "value": "{{34.body.data[].id}}"
                                                    },
                                                    {
                                                        "name": "nom_societe",
                                                        "value": "{{9.company}}"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One execution"
                                                        },
                                                        "variables": {
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "variables",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Variable name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Variable value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Variables"
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "contact_id",
                                                        "type": "any",
                                                        "label": "contact_id"
                                                    },
                                                    {
                                                        "name": "third_id",
                                                        "type": "any",
                                                        "label": "third_id"
                                                    },
                                                    {
                                                        "name": "nom_societe",
                                                        "type": "any",
                                                        "label": "nom_societe"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 63,
                                            "module": "sellsy:makeApiCall",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8601308
                                            },
                                            "filter": {
                                                "name": "Société inconnue",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{34.body.data[].id}}",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "url": "/v2/companies",
                                                "body": "{\n    \"name\":\"{{9.company}}\",\n    \"type\":\"prospect\"\n}",
                                                "method": "POST",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 300,
                                                    "name": "Création société"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "sellsy2"
                                                            },
                                                            "label": "Selssy RA (ANTOINE BERNARD)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:sellsy2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST",
                                                                "PUT",
                                                                "PATCH",
                                                                "DELETE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 64,
                                            "module": "util:SetVariables",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "scope": "execution",
                                                "variables": [
                                                    {
                                                        "name": "contact_id",
                                                        "value": "{{19.body.data[].id}}"
                                                    },
                                                    {
                                                        "name": "third_id",
                                                        "value": "{{63.body.id}}"
                                                    },
                                                    {
                                                        "name": "nom_societe",
                                                        "value": "{{9.company}}"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One execution"
                                                        },
                                                        "variables": {
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "variables",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Variable name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Variable value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Variables"
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "contact_id",
                                                        "type": "any",
                                                        "label": "contact_id"
                                                    },
                                                    {
                                                        "name": "third_id",
                                                        "type": "any",
                                                        "label": "third_id"
                                                    },
                                                    {
                                                        "name": "nom_societe",
                                                        "type": "any",
                                                        "label": "nom_societe"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 65,
                                            "module": "sellsy:makeApiCall",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8601308
                                            },
                                            "mapper": {
                                                "url": "/v2/companies/{{64.third_id}}/contacts/{{64.contact_id}}",
                                                "body": "{\n    \"roles\": [\n        \"main\"\n    ]\n}",
                                                "method": "POST",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2460,
                                                    "y": 285,
                                                    "name": "Lie le contact à société"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "sellsy2"
                                                            },
                                                            "label": "Selssy RA (ANTOINE BERNARD)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:sellsy2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST",
                                                                "PUT",
                                                                "PATCH",
                                                                "DELETE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 21,
                            "module": "sellsy:makeApiCall",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8601308
                            },
                            "filter": {
                                "name": "Inconnu",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{19.body.data[].id}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "/v2/contacts",
                                "body": "{\n    \"first_name\":\"{{9.prenom}}\",\n    \"last_name\":\"{{9.nom}}\",\n    \"email\":\"{{9.email}}\",\n    \"phone_number\":\"{{9.phone}}\"\n}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 750,
                                    "name": "Création contact"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "sellsy2"
                                            },
                                            "label": "Selssy RA (ANTOINE BERNARD)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:sellsy2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 750
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "sellsy:makeApiCall",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8601308
                            },
                            "mapper": {
                                "url": "/v2/companies/search",
                                "body": "{\n    \"filters\":{\n        \"name\":\"{{9.company}}\"\n    }\n}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 750,
                                    "name": "Recherche société avec nom"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "sellsy2"
                                            },
                                            "label": "Selssy RA (ANTOINE BERNARD)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:sellsy2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 23,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 750
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 24,
                                            "module": "sellsy:makeApiCall",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8601308
                                            },
                                            "filter": {
                                                "name": "Inconnue",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{22.body.data[].id}}",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "url": "/v2/companies",
                                                "body": "{\n    \"name\":\"{{9.company}}\",\n    \"type\":\"prospect\"\n}",
                                                "method": "POST",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 600,
                                                    "name": "Création société"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "sellsy2"
                                                            },
                                                            "label": "Selssy RA (ANTOINE BERNARD)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:sellsy2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST",
                                                                "PUT",
                                                                "PATCH",
                                                                "DELETE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 26,
                                            "module": "util:FunctionSleep",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "duration": "1"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 600
                                                },
                                                "restore": {},
                                                "expect": [
                                                    {
                                                        "name": "duration",
                                                        "type": "uinteger",
                                                        "label": "Delay",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 27,
                                            "module": "sellsy:makeApiCall",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8601308
                                            },
                                            "mapper": {
                                                "url": "/v2/companies/{{24.body.id}}/contacts/{{21.body.id}}",
                                                "body": "{\n    \"roles\": [\n        \"main\"\n    ]\n}",
                                                "method": "POST",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 600,
                                                    "name": "Lie le contact à société"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "sellsy2"
                                                            },
                                                            "label": "Selssy RA (ANTOINE BERNARD)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:sellsy2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST",
                                                                "PUT",
                                                                "PATCH",
                                                                "DELETE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 29,
                                            "module": "util:SetVariables",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "scope": "execution",
                                                "variables": [
                                                    {
                                                        "name": "contact_id",
                                                        "value": "{{21.body.id}}"
                                                    },
                                                    {
                                                        "name": "third_id",
                                                        "value": "{{24.body.id}}"
                                                    },
                                                    {
                                                        "name": "nom_societe",
                                                        "value": "{{24.body.name}}"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3300,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One execution"
                                                        },
                                                        "variables": {
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "variables",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Variable name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Variable value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Variables"
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "contact_id",
                                                        "type": "any",
                                                        "label": "contact_id"
                                                    },
                                                    {
                                                        "name": "third_id",
                                                        "type": "any",
                                                        "label": "third_id"
                                                    },
                                                    {
                                                        "name": "nom_societe",
                                                        "type": "any",
                                                        "label": "nom_societe"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 30,
                                            "module": "sellsy:makeApiCall",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8601308
                                            },
                                            "filter": {
                                                "name": "Retrouvée",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{22.body.data[].id}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "url": "/v2/companies/{{22.body.data[].id}}/contacts/{{21.body.id}}",
                                                "body": "{\n    \"roles\": [\n        \"main\"\n    ]\n}",
                                                "method": "POST",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 900,
                                                    "name": "Lie le contact à société"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "sellsy2"
                                                            },
                                                            "label": "Selssy RA (ANTOINE BERNARD)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:sellsy2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST",
                                                                "PUT",
                                                                "PATCH",
                                                                "DELETE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 31,
                                            "module": "util:SetVariables",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "scope": "execution",
                                                "variables": [
                                                    {
                                                        "name": "contact_id",
                                                        "value": "{{21.body.id}}"
                                                    },
                                                    {
                                                        "name": "third_id",
                                                        "value": "{{22.body.data[].id}}"
                                                    },
                                                    {
                                                        "name": "nom_societe",
                                                        "value": "{{22.body.data[].name}}"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One execution"
                                                        },
                                                        "variables": {
                                                            "items": [
                                                                null,
                                                                null,
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "variables",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Variable name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "any",
                                                                "label": "Variable value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Variables"
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "contact_id",
                                                        "type": "any",
                                                        "label": "contact_id"
                                                    },
                                                    {
                                                        "name": "third_id",
                                                        "type": "any",
                                                        "label": "third_id"
                                                    },
                                                    {
                                                        "name": "nom_societe",
                                                        "type": "any",
                                                        "label": "nom_societe"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 32,
                            "module": "util:GetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "variables": [
                                    "third_id",
                                    "contact_id",
                                    "nom_societe"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1200
                                },
                                "restore": {
                                    "expect": {
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Variable name",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Variables"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "third_id",
                                        "type": "any",
                                        "label": "third_id"
                                    },
                                    {
                                        "name": "contact_id",
                                        "type": "any",
                                        "label": "contact_id"
                                    },
                                    {
                                        "name": "nom_societe",
                                        "type": "any",
                                        "label": "nom_societe"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 33,
                            "module": "sellsy:makeApiCall",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8601308
                            },
                            "mapper": {
                                "url": "/v2/opportunities",
                                "body": "{\n    \"name\":\"Activité Lemlist  - {{9.company}}\",\n    \"pipeline\":106689,\n    \"step\":778415,\n    \"source\":{{9.source}},\n    \"contact_ids\":[{{ifempty(19.body.data[].id; 32.contact_id)}}],\n    \"related\":[{\"id\":{{32.third_id}},\"type\":\"company\"}]\n}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 1200,
                                    "name": "Création opportunité"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "sellsy2"
                                            },
                                            "label": "Selssy RA (ANTOINE BERNARD)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:sellsy2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 35,
                        "module": "sellsy:makeApiCall",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 8601308
                        },
                        "mapper": {
                            "url": "/v2/comments",
                            "body": "{\n    \"description\":\"Créée automatiquement après reçue une demande via le formulaire de démo gratuite.\",\n    \"related\":[{\"id\":{{33.body.id}},\"type\":\"opportunity\"}],\n \"mentioned_staff_ids\":[83899,164577]\n}",
                            "method": "POST",
                            "headers": [
                                {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                }
                            ]
                        },
                        "metadata": {
                            "designer": {
                                "x": 0,
                                "y": 1500,
                                "name": "On prévient",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Sellsy - Make an API Call' [33] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "qs": {
                                        "mode": "chose"
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "POST"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "sellsy2"
                                        },
                                        "label": "Selssy RA (ANTOINE BERNARD)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:sellsy2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "GET",
                                            "POST",
                                            "PUT",
                                            "PATCH",
                                            "DELETE"
                                        ]
                                    }
                                },
                                {
                                    "name": "headers",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                },
                                {
                                    "name": "qs",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                },
                                {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                }
                            ]
                        }
                    },
                    {
                        "id": 43,
                        "module": "util:SetVariables",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "scope": "roundtrip",
                            "variables": [
                                {
                                    "name": "score",
                                    "value": "{{parseNumber(19.body.data[].`_embed`.custom_fields[].value) + parseNumber(9.score_formulaire) + parseNumber(9.score_nl)}}"
                                }
                            ]
                        },
                        "metadata": {
                            "designer": {
                                "x": 300,
                                "y": 1500,
                                "name": "Défini le score",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Set multiple variables' [9] is not accessible."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Sellsy - Make an API Call' [19] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "scope": {
                                        "label": "One cycle"
                                    },
                                    "variables": {
                                        "items": [
                                            null
                                        ]
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "name": "variables",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Variable name",
                                            "required": true
                                        },
                                        {
                                            "name": "value",
                                            "type": "any",
                                            "label": "Variable value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Variables"
                                },
                                {
                                    "name": "scope",
                                    "type": "select",
                                    "label": "Variable lifetime",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "roundtrip",
                                            "execution"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "score",
                                    "type": "any",
                                    "label": "score"
                                }
                            ]
                        }
                    },
                    {
                        "id": 44,
                        "module": "sellsy:makeApiCall",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 8601308
                        },
                        "mapper": {
                            "url": "/v2/contacts/{{32.contact_id}}/custom-fields",
                            "body": "[\n    {\"id\":250644,\"value\":\"{{if(43.score > parseNumber(100); 100; 43.score)}}\"},\n{\n    \"id\":250652,\n    \"value\": {{if(43.score < parseNumber(40); 3971223; if(43.score >= parseNumber(70); 3971222; 3971224))}}\n  }\n]",
                            "method": "PUT",
                            "headers": [
                                {
                                    "key": "Content-Type",
                                    "value": "application/json"
                                }
                            ]
                        },
                        "metadata": {
                            "designer": {
                                "x": 600,
                                "y": 1500,
                                "name": "MAJ score",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Tools - Get multiple variables' [32] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "qs": {
                                        "mode": "chose"
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "PUT"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "sellsy2"
                                        },
                                        "label": "Selssy RA (ANTOINE BERNARD)"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:sellsy2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "GET",
                                            "POST",
                                            "PUT",
                                            "PATCH",
                                            "DELETE"
                                        ]
                                    }
                                },
                                {
                                    "name": "headers",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Headers"
                                },
                                {
                                    "name": "qs",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Query String"
                                },
                                {
                                    "name": "body",
                                    "type": "any",
                                    "label": "Body"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}